html, body {
  height: 100%;
}
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#page-wrapper {
  flex: 1;
  padding: 20px;
  background: linear-gradient(to bottom right, #9ACD32, #7FFFD4,#7CFC00);
}
.footer-below {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 1rem 0;
  text-align: center;
}
.table-wrapper {
  overflow-x: auto;
  margin: 20px 0;
}
.table {
  border: 2px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk tampilan lebih menarik */
}
.table thead th {
  border: 2px solid #ddd;
  background-color: #FFA500	;
  color: #4B0082;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.table tbody td {
  border: 2px solid #ddd;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}
.table tbody tr:nth-child(even) {
  background-color: #DCDCDC /* Warna latar belakang untuk baris genap */
}
.table tbody tr:hover {
  background-color: yellow	; /* Warna latar belakang saat dihover */
}
.table-responsive {
  margin-bottom: 20px; /* Tambahkan margin di bagian bawah tabel */
}
